body {
  margin: 0;
  padding: 50px 100px;
  background-color: #f5f7fa;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  z-index: 100;
}

.left-box img {
  width: 250px;
}
.first-links a {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: rgb(18, 23, 30);
  margin-right: 50px;
}

.right-box {
  margin-left: auto;
  display: flex;
  gap: 20px;
  padding: 30px 10px;
  align-items: center;
}

.log-in,
.book-demo,
.sign-up {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: rgb(18, 23, 30);
}
.book-demo {
  display: inline-block;
  border-radius: 12px;
  color: rgb(252, 91, 26);
  padding: 8px 20px;
  line-height: 1;
  border: 2px solid rgb(252, 91, 26);
}
.book-demo:hover {
  background-color: rgb(252, 91, 26);
  color: white;
}
.sign-up {
  display: inline-block;
  padding: 8px 20px;
  line-height: 1;
  border-radius: 12px;
  color: white;
  background-color: rgb(0, 162, 255);
  border: solid rgb(0, 162, 255);
}
.sign-up:hover {
  background-color: transparent;
  color: rgb(0, 162, 255);
}
.Hero-section {
  display: flex;
  align-items: center;
}
.Hero-section h3 {
  font-size: 14px;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  color: rgb(113, 113, 113);
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.56px;
  display: inline-block;
}
.Hero-section h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  text-align: left;
}
.Hero-section p:first-child {
  font-size: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: rubik, Arial, Helvetica, sans-serif;
}
.left-side {
  margin-right: auto;
  width: 50%;
}
.right-side {
  width: 50%;
  margin-left: auto;
}
.right-side img {
  width: 100%;
}
.free-trial {
  background-color: rgb(251, 227, 12);
  padding: 13px 25px;
  font-family: rubik, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid rgb(227, 213, 4);
  border-radius: 20px;
}
.free-trial:hover {
  background-color: rgb(0, 162, 255);
  color: white;
  transition: all 0.3s ease-in-out;
  border: 3px solid #33779e;
}
.pricing {
  background-color: black;
  padding: 13px 25px;
  font-family: rubik, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  border-radius: 20px;
  color: white;
}
.pricing:hover {
  background-color: rgb(0, 162, 255);
  border: 3px solid #33779e;
}
.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.disclaimer {
  margin-top: 10px;
  font-size: 12px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 14px;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  color: rgb(113, 113, 113);
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.56px;
  display: inline-block;
}
.brands {
  display: flex;
  gap: 60px;
  color: rgb(104, 122, 134);
}
